body{
  background-color: black;
  
}

/* header */

/* Navbar */
.navbar{
background: none;
    width: 100vw;
    z-index: 1;
    font-family: "Roboto";
  }
  
  .navbar-brand{
    
    font-size: 37px;
  }

  /* Carrusel */


  /* Modificación a botones Next y Previous de carrusel */
.boton-next, .boton-prev{
    z-index: 0;
  }



/* Quienes somos */

.icono-quienes{
  background-color: #0bb6b6;
}

.quienes-somos{
  height: 20rem;
}




/* Destacados */

.card{
  color: white;
  background-color: #0bb6b6;
}

.card-text{
  height: 15rem;
}

/* Contacto */

#Contacto{
  font-family: "Roboto";
  font-weight: 400;
}

#boton-enviar{
  background-color: #0bb6b6;
  font-family: "Roboto";
}

/* Footer */

footer{
  background-color: #0bb6b6 ;
}

i{
  color: white;

}

