body{
  background-color: black;
  
}


/* Navbar */
.navbar{
background: none;
    width: 100vw;
    z-index: 1;
    font-family: "Roboto";
  }
  
  .navbar-brand{
    
    font-size: 37px;
  }

  /* Modificación a botones Next y Previous de carrusel */
.boton-next, .boton-prev{
    width: 150px;
    height: 150px;
    top: 10rem;}

/* header */

/* Quienes somos */




/* Destacados */

/* Footer */

i{
  color: white;
}